body {
    color: white;
    font-family:monospace;
    background-color: black;
    padding: 10px 20px;
}

#title {
    font-size: 20px;
    margin-bottom: 25px;
}

#console-lines {
    font-size: 15px;
}