/* Setup */
html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: rgb(26, 26, 26);
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

/* Global Sprites */
.sprite {
    position: absolute;
}

.sprite img {
    display: inline-block;
    width: 100%;
    height: 100%;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}