:root {
    --max-case-width: 730px;
    --case-width: 553;
    --max-cpu-width: calc((var(--max-case-width) / var(--case-width)) * 65);
    --max-gpu-width: calc((var(--max-case-width) / var(--case-width)) * 492);
    --max-mobo-width: calc((var(--max-case-width) / var(--case-width)) * 369);
    --max-psu-width: calc((var(--max-case-width) / var(--case-width)) * 276);
}

body {
    background-image: url("/assets/bg.svg");
    background-size: cover;
}

#overlay {
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 25;
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease;
}

#caseSide,
#cpu,
#gpu,
#mobo,
#psu {
    height: auto;
}

#caseSide {
    z-index: 0;
    width: 90%;
    max-width: var(--max-case-width);
    left: 51%;
    top: 30px;
}

.drag-zone {
    position: absolute;
    border: 2px dashed rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    pointer-events: none;
    box-sizing: border-box;
    z-index: 20 !important;
    visibility: hidden;
}

.drag-zone.shown {
    visibility: visible;
}

#cpu {
    width: 10.5%;
    max-width: var(--max-cpu-width);
    z-index: 2;
    top: 51.5%;
    left: 31%;
}

#gpu {
    width: 80%;
    max-width: var(--max-gpu-width);
    z-index: 2;
    top: 60.3%;
    left: 3px;
}

#mobo {
    width: 61%;
    max-width: var(--max-mobo-width);
    z-index: 1;
    top: -5px;
    left: -2px;
}

#psu {
    width: 41%;
    max-width: var(--max-psu-width);
    z-index: 1;
    top: 77%;
    left: 20px;
}

.moving {
    transition: all 0.5s ease;
}