body {
    background-image: url("/assets/bg-top.svg");
    background-size: cover;
}

#overlay {
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 25;
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.25s ease;
}

#caseTop {
    width: 100%;
    height: auto;
    max-width: 875px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#powerButton {
    width: 7vw;
    max-width: 50px;
    aspect-ratio: 1/1;
    left: 24.8%;
    top: 47.9%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    transition: border 0.5s ease;
}

@keyframes borderGlow {
    0% {
        border: none;
    }

    50% {
        border: rgba(255, 255, 255, 0.5) 4px solid;
    }

    100% {
        border: none;
    }
}