#caseTop {
    width: 100%;
    height: auto;
    max-width: 750px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.25s ease;
}

#powerButton {
    width: 7vw;
    max-width: 50px;
    aspect-ratio: 1/1;
    left: 24.8%;
    top: 47.9%;
    transform: translate(-50%, -50%);
}